<h1>CRIduino</h1>
  <p>
    Escolha uma das ações a seguir:
	<ul>
	  <li><%= link_to t('layout.signup'), new_user_path %></l1>
	  <li><%= link_to t('layout.login'), new_user_sessions_path %></li>
	</ul>
  </p>